.App {
    --header_height: 60px;
}

.hw {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hwTitle {
    padding-top: 40px;
    padding-left: 30px;
    font-weight: bold;
}