.pagination {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 16px 0;
    margin-left: 20px;
    max-width: 100%;
}

.text1 {
    font-size: 14px;
    color: #333;
}

.text2 {
    font-size: 14px;
    color: #333;
}